@charset "utf-8";

*{
    
    padding: 0px;
    margin: 0px;
    
}

html{
    height: 100vh;
}

body{
    background:url(pacote-d013/imagens/fundo.png);
    background-size: cover;
    background-attachment: fixed;
   
}



h1{
    text-align: center;
}

#tela{
    position: relative;
    top: 22px;
    left: 170px;
    width: 300px;
    height: 547px;
    
}

#celular{
  
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 600px;
    background: url(pacote-d013/imagens/smartphone-png.png) no-repeat;
}
#botoes{
   text-align: center;
}

#botoes img{
    width: 50px;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479);
    box-sizing: border-box;
}

#botoes img:hover{
    background-color:rgba(240, 248, 255, 0.288);
    color:rgba(240, 248, 255, 0.322);
    padding: 4px 6px;
    transition: 0.3s;


}



